@font-face {
  font-family: Poppins-bold;
  src: url(Poppins_bold/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-regular;
  src: url(Poppins_bold/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-extra;
  src: url(Poppins_bold/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-light;
  src: url(Poppins_bold/Poppins-Light.ttf);
}


body{
  max-width: 100%;
  width: 1280px;
  background: #fefefe;
}

.navbar-nav{
  max-width: 100%;
  width: 1280px; 
  height: 36px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #FFF8E7
}

.navbar-nav .Rectangle1{
  max-width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
  width: 1280px;
  height: 114px;
}

.navbar-nav .Rectangle1 .navbar-top a{
  color: #923800;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.navbar-nav .navbar-top .diskon{
  left: 21px; 
  top: 7px; 
  position: absolute; 
  text-align: center; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 300; 
  line-height: 21px; 
  word-wrap: break-word
}

.navbar-nav .navbar-top .review{
  left: 90px; 
  top: 7px; 
  position: absolute; 
  text-align: center; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 300; 
  line-height: 21px; 
  word-wrap: break-word
}

.navbar-nav .navbar-top .kontak{
  left: 162px; 
  top: 7px; 
  position: absolute; 
  text-align: center; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 300; 
  line-height: 21px; 
  word-wrap: break-word
}

.navbar-nav .navbar-top .lokasi{
  left: 233px; 
  top: 7px; 
  position: absolute; 
  text-align: center; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 300; 
  line-height: 21px; 
  word-wrap: break-word
}

.navbar-sideRight-notif{
  max-width: 100%;
  left: 982px;
  top: 7px;
  position: absolute;
  justify-content: center;
  align-items: center; 
  gap: 8px; 
  display: inline-flex
}

.navbar-sideRight-notif .notif{
  text-align: center; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 300; 
  line-height: 21px; 
  word-wrap: break-word;
  text-decoration: none;
}

.navbar-sideRight-bantuan{
  position: relative;
}

.navbar-sideRight-bantuan .help-circle{
  width: 21px; 
  height: 21px; 
  left: 1100px; 
  top: 8px; 
  position: absolute; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
  max-width: 100%;
}

.navbar-sideRight-bantuan .bantuan{
  left: 1132px; 
  top: 8px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 300; 
  line-height: 21px; 
  word-wrap: break-word;
  text-decoration: none;
}

.navbar-logo .Logo{
  max-width: 100%;
  width: 168px; 
  height: 59px;
  left: 44px; 
  top: 49px; 
  position: absolute;
}

.navbar-logo .Logo .Logo2{
  max-width: 100%;
  width: 81.05px; 
  height: 59px;
  left: 86.95px;
  top: 0px; 
  position: absolute;
}

.navbar-logo .Logo .Logo1{
  max-width: 100%;
  width: 100.95px; 
  height: 53.87px; 
  left: 0px; 
  top: 2.57px; 
  position: absolute;
}

.navbar-search{
  max-width: 100%;
  width: 369px; 
  height: 30px; 
  left: 435px; 
  top: 64px; 
  margin: 0;
  padding: 0;
  position: absolute;
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid #B2541A;
}

.navbar-search .button-search{
  left: 309.7px; 
  top: 0px; 
  margin: 0;
  padding: 0;
  position: absolute;
}

.navbar-search input{
  border: none;
  outline: none;
}

.navbar-search input[type=text]{
  max-width: 100%;
  width: 280px;  
  height: 14.46px; 
  left: 31.77px; 
  top: 7.50px; 
  position: absolute; 
  color: #0a0800; 
  font-size: 15px; 
  font-family: 'Poppins'; 
  font-weight: 400; 
  line-height: 15px; 
  word-wrap: break-word;
}

.navbar-belanja{
  max-width: 100%;
  width: 203px; 
  height: 25px; 
  left: 950px; 
  top: 64px; 
  position: absolute;
}

.navbar-belanja .cart{
  left: 0px; 
  top: 1px; 
  position: absolute;
}

.navbar-belanja .chat{
  left: 50px; 
  top: 1px; 
  position: absolute;
}

.navbar-belanja .package{
  left: 100px; 
  top: 1px; 
  position: absolute;
}

.navbar-belanja .CS{
  left: 150px;
  top: 1px;
  position: absolute;
}

.Group124{
  height: 718px; 
  left: 60px; 
  top: 166px; 
  position: absolute;
}

.Group124 .Rectangle71{
  width: 650px; 
  height: 570px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  border-radius: 30px;
}

.Group124 .Group125{
  width: 606px; 
  height: 120px; 
  left: 22px; 
  top: 598px; 
  position: absolute;
}

.Group124 .Group125 .Rectangle72{
  width: 120px; 
  height: 120px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  border-radius: 30px;
}

.Group124 .Group125 .Rectangle73{
  width: 120px; 
  height: 120px; 
  left: 162px; 
  top: 0px; 
  position: absolute; 
  border-radius: 30px;
}

.Group124 .Group125 .Rectangle74{
  width: 120px; 
  height: 120px; 
  left: 324px; 
  top: 0px; 
  position: absolute; 
  border-radius: 30px;
}

.Group124 .Group125 .Rectangle75{
  width: 120px; 
  height: 120px; 
  left: 486px; 
  top: 0px; 
  position: absolute; 
  border-radius: 30px;
}

.Group128{
  height: 621px; 
  left: 765px; 
  top: 166px; 
  position: absolute;
}

.Group128 .Group126{
  width: 425px; 
  height: 221px; 
  left: 0px; 
  top: 0px; 
  position: absolute;
}

.Group128 .Group126 .BurungNuriSuperCantikDanAnggun{
  width: 425px;
  height: 141px; 
  left: 0px; 
  top: 40px; 
  position: absolute;
  color: black; 
  font-size: 40px; 
  font-family: Poppins-light; 
  font-weight: 700; 
  line-height: 60px;
  word-wrap: break-word;
}

.Group128 .Group126 .Burung{
  width: 153px; 
  height: 29px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: black; 
  font-size: 20px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 30px; 
  word-wrap: break-word;
}

.Group128 .Group126 .Rp3000000{
  width: 200px; 
  height: 35px; 
  left: 0px; 
  top: 186px; 
  position: absolute; 
  color: black; 
  font-size: 24px; 
  font-family: Poppins-extra; 
  font-weight: 400; 
  line-height: 36px; 
  word-wrap: break-word;
}

.Group128 .Group127{
  width: 425px; 
  height: 380px; 
  left: 0px; 
  top: 241px; 
  position: absolute;
}

.Group128 .Group127 .Rectangle76{
  width: 425px; 
  height: 380px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: white; 
  border-radius: 30px; 
  border: 1.50px #B2541A solid;
}

.Group128 .Group127 .Rectangle76 .Deskripsi{
  width: 112px; 
  height: 35px; 
  left: 25px; 
  top: 21px; 
  position: absolute; 
  color: black; 
  font-size: 24px; 
  font-family: Poppins; 
  font-weight: 600; 
  line-height: 36px; 
  word-wrap: break-word;
}

.Group129{
  width: 280px; 
  height: 65px; 
  left: 0px; 
  top: 651px; 
  position: absolute;  
}

.Group129 .Rectangle77{
  width: 280px; 
  height: 65px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #FCF8E8; 
  border-radius: 15px; 
  border: 1.50px #B2541A solid; 
}

.Group129 .Rectangle77 .MasukkanKeranjang{
  left: 50px; 
  top: 19px; 
  position: absolute; 
  text-align: center; 
  color: #B2541A; 
  font-size: 20px; 
  font-family: Poppins; 
  font-weight: 600; 
  line-height: 30px; 
  word-wrap: break-word; 
}

.Group129 .Rectangle77 .add-cart{
  width: 22px; 
  height: 24.62px; 
  left: 16px; 
  top: 21px; 
  position: absolute; 
}

.Group130{
  width: 123px; 
  height: 65px; 
  left: 300px; 
  top: 651px; 
  position: absolute;  
}

.Group130 .Rectangle78{
  width: 123px; 
  height: 65px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 15px;  
}

.Group130 .Rectangle78 .Beli{
  width: 62px; 
  height: 27px; 
  left: 31px; 
  top: 19px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 20px; 
  font-family: Poppins; 
  font-weight: 600; 
  line-height: 30px; 
  word-wrap: break-word;
}

.Line4{
  width: 1130px; 
  height: 0px; 
  left: 60px; 
  top: 936px; 
  position: absolute; 
  border: 1.50px black dotted;
}

.MungkinAndaSukai{
  left: 60px; 
  top: 1300px; 
  position: absolute; 
  color: black; 
  font-size: 32px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 48px; 
  word-wrap: break-word;
}

 .Group132{
  width: 1100px; 
  height: 320px; 
  left: 60px; 
  top: 1300px; 
  position: absolute; 
  overflow-x: auto;
}

 .Group132::-webkit-scrollbar{
  width: 0px;
}

 .Group132 .RekomendasiToko{
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: black; 
  font-size: 32px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 48px; 
  word-wrap: break-word; 
}

 .Group132 .Group18{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 63px; 
  position: absolute;  
}

 .Group132 .Group18 .Rectangle63{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group132 img{
  width: 255px; 
  height: 230px;  
  left: 0px; 
}

 .Group132 .Group18 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group132 .Group18 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group132 .Group18 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group18 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group18 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group132 .Group18 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group132 .Group24{
  width: 250px; 
  height: 230px; 
  left: 274px; 
  top: 63px; 
  position: absolute;  
}

 .Group132 .Group24 .Rectangle63 .img{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group132 .Group24 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group132 .Group24 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group132 .Group24 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group24 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group24 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group132 .Group24 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group132 .Group22{
  width: 250px; 
  height: 230px; 
  left: 548px; 
  top: 63px; 
  position: absolute;  
}

 .Group132 .Group22 .Rectangle63 .img{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group132 .Group22 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group132 .Group22 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group132 .Group22 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group22 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group22 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group132 .Group22 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group132 .Group23{
  width: 250px; 
  height: 230px; 
  left: 822px; 
  top: 63px; 
  position: absolute;  
}

 .Group132 .Group23 .Rectangle63{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px;
}

 .Group132 .Group23 .Rectangle63 .img{
  width: 252;
  left: 0px; 
  top: 0px; 
  position: absolute; 
  border-radius: 30px; 
}

 .Group132 .Group23 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group132 .Group23 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group132 .Group23 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group23 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group23 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group132 .Group23 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group132 .Group25{
  width: 250px; 
  height: 230px; 
  left: 1096px; 
  top: 63px; 
  position: absolute;  
}

 .Group132 .Group25 .Rectangle63 .img{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group132 .Group25 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group132 .Group25 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group132 .Group25 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group25 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group132 .Group25 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group132 .Group25 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

/* baru */
.RekomendasiToko{
  left: 60px; 
  top: 950px; 
  position: absolute; 
  color: black; 
  font-size: 32px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 48px; 
  word-wrap: break-word;
}

 .Group133{
  width: 1100px; 
  height: 320px; 
  left: 60px; 
  top: 960px; 
  position: absolute; 
  overflow-x: auto;
}

 .Group133::-webkit-scrollbar{
  width: 0px;
}

 .Group133 .RekomendasiToko{
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: black; 
  font-size: 32px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 48px; 
  word-wrap: break-word; 
}

 .Group133 .Group18{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 63px; 
  position: absolute;  
}

 .Group133 .Group18 .Rectangle63{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group133 img{
  width: 255px; 
  height: 230px;  
  left: 0px; 
}

 .Group133 .Group18 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group133 .Group18 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group133 .Group18 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group18 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group18 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group133 .Group18 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group133 .Group24{
  width: 250px; 
  height: 230px; 
  left: 274px; 
  top: 63px; 
  position: absolute;  
}

 .Group133 .Group24 .Rectangle63 .img{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group133 .Group24 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group133 .Group24 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group133 .Group24 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group24 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group24 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group133 .Group24 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group133 .Group22{
  width: 250px; 
  height: 230px; 
  left: 548px; 
  top: 63px; 
  position: absolute;  
}

 .Group133 .Group22 .Rectangle63 .img{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group133 .Group22 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group133 .Group22 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group133 .Group22 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group22 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group22 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group133 .Group22 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group133 .Group23{
  width: 250px; 
  height: 230px; 
  left: 822px; 
  top: 63px; 
  position: absolute;  
}

 .Group133 .Group23 .Rectangle63{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px;
}

 .Group133 .Group23 .Rectangle63 .img{
  width: 252;
  left: 0px; 
  top: 0px; 
  position: absolute; 
  border-radius: 30px; 
}

 .Group133 .Group23 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group133 .Group23 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group133 .Group23 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group23 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group23 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group133 .Group23 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

 .Group133 .Group25{
  width: 250px; 
  height: 230px; 
  left: 1096px; 
  top: 63px; 
  position: absolute;  
}

 .Group133 .Group25 .Rectangle63 .img{
  width: 250px; 
  height: 230px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px; 
}

 .Group133 .Group25 .Rectangle67{
  width: 250px; 
  height: 65.93px; 
  left: 0px; 
  top: 164.07px; 
  position: absolute;
  background: #FCF8E8; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

 .Group133 .Group25 .Rectangle67 .BurungNuri{
  width: 129.35px; 
  height: 27.60px; 
  left: 16px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 16px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;  
}

 .Group133 .Group25 .Rectangle67 .Rp3000000{
  width: 92px; 
  height: 18px; 
  left: 141px; 
  top: 5px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group25 .Rectangle67 .Kuning{
  width: 52.17px; 
  height: 18.40px; 
  left: 16px; 
  top: 25px; 
  position: absolute; 
  color: black; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;  
}

 .Group133 .Group25 .Rectangle67 .Rectangle68{
  width: 58.70px; 
  height: 18.40px; 
  left: 173.91px; 
  top: 30px; 
  position: absolute; 
  background: #81B214; 
  border-radius: 5px;  
}

 .Group133 .Group25 .Rectangle67 .Rectangle68 .Beli{
  width: 31.52px; 
  height: 16.10px; 
  left: 13px;
  top: 0px; 
  position: absolute; 
  text-align: center; 
  color: #FCF8E8; 
  font-size: 13px; 
  font-family: Poppins; 
  font-weight: 500; 
  line-height: 19.50px; 
  word-wrap: break-word;  
}

.footer{
  max-width: 100%;
  width: 1280px; 
  height: 457px; 
  left: 0px; 
  top: 1650px; 
  position: absolute;
}

.footer .panel{
  max-width: 100%;
  width: 1280px; 
  height: 457px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #F5D7AA;
}

.footer .panel .kontak{
  width: 256.56px; 
  height: 195.65px; 
  left: 41.50px; 
  top: 41px; 
  position: absolute;
}

.footer .panel .kontak .Kontak{
  width: 129.88px; 
  left: 8.30px; 
  top: 0px; 
  position: absolute; 
  color: #923800; 
  font-size: 22px; 
  font-family: Poppins-regular; 
  font-weight: 600; 
  line-height: 33px; 
  word-wrap: break-word;
}

.footer .panel .kontak .phone-email{
  width: 22.39px; 
  height: 72px; 
  left: 5px; 
  top: 68px; 
  position: absolute; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 24px; 
  display: inline-flex;
}

.footer .panel .kontak .phone-email .phone{
  width: 24px; 
  height: 24px; 
  position: relative;
}

.footer .panel .kontak .phone-email .email{
  width: 24px; 
  height: 24px; 
  position: relative;
}

.footer .panel .kontak .text-phonemail{
  width: 208.96px; 
  height: 68px; 
  left: 47.61px; 
  top: 0px; 
  position: absolute; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 30px; 
  display: inline-flex;
}

.footer .panel .kontak .text-phonemail .text-phone{
  width: 230px; 
  height: 19px;
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 21px; 
  word-wrap: break-word;
}

a{
  text-decoration: none;
}

.footer .panel .kontak .text-phonemail .text-mail{
  width: 322px; 
  height: 19px;
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins-bold; 
  font-weight: 500; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .kontak .instagram{
  width: 29.30px; 
  height: 31.41px; 
  left: 8.21px; 
  top: 105px; 
  position: absolute;
}

.footer .panel .kontak .WA{
  width: 29.30px; 
  height: 31.65px; 
  left: 56.72px; 
  top: 105px; 
  position: absolute;
}

.footer .panel .kontak .facebook{
  width: 29.30px; 
  height: 31.41px; 
  left: 105.23px; 
  top: 105px; 
  position: absolute;
}

.footer .panel .kategori{
  width: 134.23px; 
  height: 185px; 
  left: 384.33px; 
  top: 0px; 
  position: absolute;
}

.footer .panel .kategori .kategori-1{
  width: 134.23px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: #923800; 
  font-size: 22px; 
  font-family: 'Poppins'; 
  font-weight: 600; 
  line-height: 33px; 
  word-wrap: break-word;
}

.footer .panel .kategori .kategori-2{
  width: 71.40px; 
  left: 0px; 
  top: 65px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: 'Poppins'; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .kategori .kategori-3{
  width: 61.40px; 
  left: 0px; 
  top: 98px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: 'Poppins'; 
  font-weight: 400; line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .kategori .kategori-4{
  width: 49.98px; 
  left: 0px; 
  top: 131px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: 'Poppins'; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .kategori .kategori-5{
  width: 65.98px; 
  left: 0px; 
  top: 164px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: 'Poppins'; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .pusat-bantuan{
  width: 204.27px; 
  height: 218px; 
  left: 602.61px; 
  top: 0px; 
  position: absolute;
}

.footer .panel .pusat-bantuan .pusat{
  width: 204.27px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  color: #923800; 
  font-size: 22px; 
  font-family: Poppins-regular; 
  font-weight: 600; 
  line-height: 33px; 
  word-wrap: break-word;
}

.footer .panel .pusat-bantuan .syarat{
  width: 166.68px; 
  left: 0px; 
  top: 65px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: 'Poppins'; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .pusat-bantuan .checkout{
  width: 83.96px; 
  left: 0px; 
  top: 98px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .pusat-bantuan .pembayaran{
  width: 112.79px; 
  left: 0px; 
  top: 131px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .pusat-bantuan .Q{
  width: 47.62px; 
  left: 0px; 
  top: 164px; 
  position: absolute; 
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .Toko-kami{
  width: 356.34px; 
  height: 362px; 
  left: 840.44px; 
  top: 41px; 
  position: absolute;
}

.footer .panel .Toko-kami .Toko{
  width: 186.52px; 
  left: 0.38px; 
  top: 0px; 
  position: absolute; 
  color: #923800; 
  font-size: 22px; 
  font-family: Poppins-regular; 
  font-weight: 600; 
  line-height: 33px; 
  word-wrap: break-word;
}

iframe{
  width: 356.34px; 
  height: 242px; 
  left: 0px; 
  top: 44px; 
  position: absolute; 
}

.footer .panel .Toko-kami .clock-map{
  max-width: 100%;
  width: 22.39px; 
  height: 64px; 
  left: 0px; 
  top: 310px; 
  position: absolute; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 10px; 
  display: inline-flex;
}

span{
  font-family: 'Poppins';
}

.footer .panel .Toko-kami .map-clock{
  width: 238.81px; 
  height: 62px; 
  left: 30.85px; 
  top: 310px; 
  position: absolute; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 20px; 
  display: inline-flex;
}

.footer .panel .Toko-kami .map-clock .map1{
  width: 339px; 
  height: 19px;
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins-bold; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}

.footer .panel .Toko-kami .map-clock .clock2{
  width: 285px; 
  height: 19px;
  color: #923800; 
  font-size: 14px; 
  font-family: Poppins-bold; 
  font-weight: 400; 
  line-height: 21px; 
  word-wrap: break-word;
}